section#homepage-grid
  .container-fluid
    .grid
      a(href="firstProject.html").item
        .title F I R S T \ \ P R O J E C T
        .preview
      a(href="secondProject.html").item
        .title S E C O N D \ \ P R O J E C T 
        .preview
      .item
      .item
      .item
      .item
      .item
    
