section#homepage-grid
  .container-fluid
    .grid
      a(href="firstProject.html").item
        .title F I R S T \ \ P R O J E C T
        .preview: img(src="images/first.png")
      a(href="guigou.html").item
        .title S E C O N D \ \ P R O J E C T 
        .preview
      a(href="tutoAlsacreation.html").item
        .title Alscacreation tutorial
        .preview: img(src="images/alsacreation.png")
      a(href="physics.html").item
        .title Physics Experiment
        .preview: img(src="images/physics.png")
      a(href="surprise.html").item
        .title Surprise
        .preview: img(src="images/surprise.png")
      a(href="little-game.html").item
        .title Little Game
        .preview: img(src="images/little-game.png")
      a(href="tunnel.html").item
        .title Tunnel
        .preview
      .item
      .item
      .item
      .item
      
script(src="scripts/homepage.js")
    
