// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
  max-width: 100vw;
  overflow-x: hidden;
  transition: all 200ms ease;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}
