extends layouts/default

block content
  include header
  +header("F I R S T \\ \\ P R O J E C T", "We should really start somewhere.")
  
  #canvas


  // Scripts
  script(type="text/javascript", src='scripts/first.js')
