extends layouts/default

block content
  // ========= HEADER ==========
  include ./header
  +header("† Ħ Я ☰ ☰ ___ Ж ___₱ ☰ Я ï ∇∇ ☰ ∩ † $", "Here you can see all our experiments")

  include includes/homepage-grid
