extends layouts/default

- var data = "bitasse"

block content
  include header
  +header("S E C O N D azdzadza P R O J E C T", "Sa race la pute")
	#canvas


  // Scripts
  script(type="text/javascript", src='scripts/second.js')
	
  
	
