extends layouts/default

block content
  include header
  +header("Alsa Creation Tutorial", "Let's see this shit : https://www.alsacreations.com/tuto/lire/1572-webgl-3d-three-canvas-threejs.html")

  #canvas.pointer


  // Scripts
  script(type="text/javascript", src="scripts/alsacreationtuto.js")
  